{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block header_block %}
{% endblock %}
{% block title %}Задачи{% endblock %}
{% block todo_block %}
<div class="todo_head">
    <div class="head_block">
        <h2 class="task_title">Вход</h2>
    </div>
</div>
<div class="todo_body">
    <form class="todo_form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        {% if has_error %}
        <p class="form-error">Неверное имя пользователя или пароль.</p>
        {% endif %}
        <p>
            <label class="form_label" for="username">Имя пользователя:
                <input required class="input" type="text" name="username" id="username">
            </label>
        </p>
        <p>
            <label class="form_label" for="password">Пароль:
                <input required class="input" type="password" name="password" id="password"></label>

            <button class="btn green" type="submit">Войти</button>
        </p>
    </form>
</div>
{% endblock %}